<!doctype html>
<html>
<body>
    <h1>Bienvenido!!</h1>
    <h2>Endpoints disponibles:</h2>
    <h2>Ejercicio Nº1:</h2>
    <h3>[GET] /personas?limit=[]&offset=[] --> renderizar con table.html el listado de personas</h3>
    <h2>Ejercicio Nº2:</h2>
    <h3>[POST] /registro --> complete el registro de personas por JSON</h3>
    <h2>Ejercicio Nº3:</h2>
    <h3>[GET] /comparativa --> mostrar un gráfico con las edades de todas las personas

    <p></p>

    <!-- Codigo utilizado para redireccionar a otra pagina-->
    <form action="{{url_for('personas')}}">
        <input type="submit" value="Personas"/>
    </form>

    <form action="{{url_for('registro')}}">
        <input type="submit" value="Registro"/>
    </form>

</body>
</html>