<!doctype html>
<html>

<!-- Titulo de la página-->
<head>
    <title>Registro</title>
</head>

<body>

<h1><a title="inove website" href="https://inove.com.ar/"><img class="inovelogo" src="{{url_for('static', filename='media/cropped-3-1-300x131.png')}}" /></a></h1>

<h2>Formulario de registro</h2>

<p>Ingrese su ritmo cardíaco</p>

<form method = "POST" action="/registro">
  <label for="fname">Nombre y apellido:</label><br>
  <input type="name" name="name"><br>
  <label for="lname">Ritmo cardíaco [min 40, max 200]:</label><br>
  <input type="numer" min='40' max='200' name="heartrate"><br><br>
  <input type="submit" value="Enviar">
</form> 


</body>
</html>