<!doctype html>
<html>

<!-- Titulo de la página-->
<head>
    <title>Registro</title>
</head>

<body>

<h1><a title="inove website" href="https://inove.com.ar/"><img src="{{url_for('static', filename='media/cropped-3-1-300x131.png')}}" /></a></h1>

<h2>Formulario de registro</h2>

<p>Ingrese una nueva persona</p>

<form method = "POST" action="{{url_for('registro')}}">
  <label for="fname">Nombre y apellido:</label><br>
  <input type="name" name="name"><br>
  <label for="lname">Edad:</label><br>
  <input type="numer" name="age"><br><br>
  <label for="fnationality">Nacionalidad:</label><br>
  <input type="name" name="nationality"><br>
  <input type="submit" value="Enviar">
</form> 


</body>
</html>